:root {
    --main-clr: #820000;
    --main-clr-lt: #b30000;
    --main-clr-dk: #510000;

    --secondary-clr: #909090;
    --secondary-clr-lt: #B4B4B4;
    --secondary-clr-dk: #636363;
    --secondary-clr-ltr: #cccccc;

    --star-clr: #e2a42f;

    --ntrl-clr-lt: #ffffff;
    --ntrl-clr-dk: #000000;

    --main-fs: 16px;
    --h1-fs: 28px;
    --h2-fs: 22px;
    --h3-fs: 18px;

    --pad-and-gap: 1em;
}

body {
    background-color: var(--ntrl-clr-lt);
    color: var(--ntrl-clr-dk);
    font-size: var(--main-fs);
    line-height: 1.5em;
}

h1{
    font-size: var(--h1-fs);
}

h2 {
    font-size: var(--h2-fs);
}

h3 {
    font-size: var(--h3-fs);
}

a {
    text-decoration: none;
    color: var(--main-clr-lt);
}

p {
    color: var(--secondary-clr-dk);
    font-size: var(--main-fs);
}

.products, .page-header, .page-footer {
    padding-left: var(--pad-and-gap);
    padding-right: var(--pad-and-gap);
}

.pages ul > li, .social > li, .legal > li {
    margin: calc(var(--pad-and-gap) / 2);
}

.products {
    padding-top: 4.5em;
}

.products button {
    border: none;
    background-color: var(--main-clr-lt);
    color: var(--ntrl-clr-lt);
    border-radius: 3px;
    padding: 8px 20px;
    margin: 5px 5px 5px 0;
    cursor: pointer;
}

.products button:nth-child(even) {
    background-color: var(--ntrl-clr-lt);
    color: var(--main-clr-lt);
    border: 1px solid var(--main-clr-lt);
}

.products button:nth-child(even):hover {
    background-color: var(--main-clr-lt);
    color: var(--ntrl-clr-lt);
}

.products button i {
    font-size: var(--h3-fs);
    margin-right: 5px;
}


@media only screen and (min-width: 40em) {
    
    .products, .page-header, .page-footer {
        padding-left: calc(var(--pad-and-gap) * 2);
        padding-right: calc(var(--pad-and-gap) * 2);
    }
}

@media only screen and (min-width: 70em) {
    
    .products {
        display: block;
        padding-top: 3em;
    }

    .product:nth-child(odd) {
        margin-left: unset;
    }

    .products, .page-header, .page-footer {
        padding-left: calc(var(--pad-and-gap) * 3);
        padding-right: calc(var(--pad-and-gap) * 3);
    }
}

@media only screen and (min-width: 90em) {
    
    .products button {
        width: 100%;
    }
}

