/* Note there a few "reset" styles given in reset.css. Review those before you begin */
:root {
    --main-clr: #820000;
    --main-clr-lt: #b30000;
    --main-clr-dk: #510000;

    --secondary-clr: #909090;
    --secondary-clr-lt: #B4B4B4;
    --secondary-clr-dk: #636363;
    --secondary-clr-ltr: #cccccc;

    --star-clr: #e2a42f;

    --ntrl-clr-lt: #ffffff;
    --ntrl-clr-dk: #000000;

    --main-fs: 16px;
    --h1-fs: 28px;
    --h2-fs: 22px;
    --h3-fs: 18px;

    --pad-and-gap: 1em;
}

body {
    background-color: var(--ntrl-clr-lt);
    color: var(--ntrl-clr-dk);
    font-size: var(--main-fs);
    line-height: 1.5em;
}

h1{
    font-size: var(--h1-fs);
}

h2 {
    font-size: var(--h2-fs);
}

h3 {
    font-size: var(--h3-fs);
}

a {
    text-decoration: none;
    color: var(--main-clr-lt);
}

p {
    color: var(--secondary-clr-dk);
    font-size: var(--main-fs);
}

.products, .page-header, .page-footer {
    padding-left: var(--pad-and-gap);
    padding-right: var(--pad-and-gap);
}

.your-products {
    display: flex;
}

.pagination {
    text-align: center;
}

.pages {
    display: flex;
    justify-content: center;
}

.pages > li, .social > li, .legal > li {
    margin: calc(var(--pad-and-gap) / 2);
}

.pages > li > a, .product header a {
    border: 1px solid var(--secondary-clr-ltr);
    padding: 3px 5px;
    background: #eeeeee;
}

.pages > li > a:hover, .product header a:hover {
    background-color: var(--main-clr-lt);
    color: var(--ntrl-clr-lt);
}

.product header dl {
    margin-top: calc(var(--pad-and-gap));
}

.social {
    display: flex;
    justify-content: center;
}

.legal {
    text-align: center;
}

.copyright {
    text-align: right;
}

.page-header {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    background-color: var(--main-clr);
    padding-bottom: calc(var(--pad-and-gap) / 2);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.logo {
    grid-row: 1;
    grid-column: 1;
    text-decoration: none;
    color: var(--ntrl-clr-lt);
    font-family: fantasy;
    font-weight: bolder;
    margin-top: calc(var(--pad-and-gap) / 2);
}

.nav-toggle {
    grid-row: 1;
    grid-column: 4;
    border: none;
    background: none;
    font-size: var(--h2-fs);
    padding-top: 0.2em;
}

.search {
    grid-row: 2;
    grid-column: 1 / 5;
    margin-top: calc(var(--pad-and-gap) / 2);
}

.navigation {
    grid-row: 3;
    grid-column: 1 / 5;
}

.your-products {
    grid-row: 1;
    grid-column: 3;
    margin-right: calc(var(--pad-and-gap) / 2);
}

.filter-list {
    display: flex;
}

.your-products .fa-heart, .your-products .fa-shopping-bag {
    font-size: var(--main-fs);
    color: var(--secondary-clr-ltr);
}

.your-products > li {
    padding-left: calc(var(--pad-and-gap) / 4);
    padding-right: calc(var(--pad-and-gap) / 4);
    padding-top: 0.2em;
}

.fa-bars, .fa-times {
    padding-left: calc(var(--pad-and-gap) / 4);
    color: var(--ntrl-clr-lt);
}

#check, .submenu, .fa-times{
    display: none;
}

.navigation ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--secondary-clr-lt);
    top: 35px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 1;
}

#check:checked ~ .navigation ul {
    left: 0;
}

#check:checked ~ .nav-toggle .fa-bars {
    display: none;
}

#check:checked ~ .nav-toggle .fa-times {
    display: block;
}

.navigation ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
}

.navigation ul li a {
    font-size: var(--h2-fs);
    color: var(--ntrl-clr-lt);
}

.navigation ul li a:hover , .navigation ul li a.active {
    background: none;
    color: var(--main-clr);
}

#find {
    width: 90%;
}

#sort {
    margin-left: calc(var(--pad-and-gap) / 2);
}

.container {
    display: block;
    position: relative;
    padding-left: 22px;
    padding-right: 7px;
    cursor: pointer;
}
  
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: var(--secondary-clr-ltr);
}

.container:hover input ~ .checkmark {
    background-color: var(--secondary-clr);
}
  
.container input:checked ~ .checkmark {
    background-color: var(--main-clr);
}
  
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
.container input:checked ~ .checkmark:after {
    display: block;
}
  
.container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 8px;
    border: solid var(--ntrl-clr-lt);
    border-width: 0 2px 2px 0;
    box-sizing: initial;
    transform: rotate(45deg);
}
  
.roundmark {
    border-radius: 50%;
}

.container .roundmark:after {
    border-radius: 50%;
    background: var(--ntrl-clr-lt);
    height: 4px;
    top: 6px;
}

.fa-star, .fa-star-half-alt {
    color: var(--star-clr);
}

ins {
    color: var(--main-clr-lt);
    margin-left: calc(var(--pad-and-gap) / 4);
}

.radio-container {
    display: inline-block;
}

.products {
    padding-top: 4.5em;
}

.products button {
    border: none;
    background-color: var(--main-clr-lt);
    color: var(--ntrl-clr-lt);
    border-radius: 3px;
    padding: 8px 20px;
    margin: 5px 5px 5px 0;
    cursor: pointer;
}

.products button:nth-child(even) {
    background-color: var(--ntrl-clr-lt);
    color: var(--main-clr-lt);
    border: 1px solid var(--main-clr-lt);
}

.products button:nth-child(even):hover {
    background-color: var(--main-clr-lt);
    color: var(--ntrl-clr-lt);
}

.products button i {
    font-size: var(--h3-fs);
    margin-right: 5px;
}

.product {
    margin-bottom: var(--pad-and-gap);
    border: 1px solid var(--secondary-clr-ltr);
}

.product header h3, 
.product header data, 
.product header p, 
.product header a, 
.product header dl,
.product form,
.product footer{
    margin-left: var(--pad-and-gap);
    margin-right: var(--pad-and-gap);
}

.social i {
    font-size: var(--h2-fs);
    color: var(--secondary-clr-dk);
}

.filter-options {
    margin-bottom: 20px;
}

.copyright {
    font-size: 12px;
    text-align: center;
}

.page-footer {
    background-color: var(--secondary-clr-ltr);
    float: left;
    width: 100%;
    padding-top: var(--pad-and-gap);
    margin-top: var(--pad-and-gap);
}

.product footer {
    margin-top: calc(var(--pad-and-gap) / 2);
}

@media only screen and (min-width: 40em) {
    .results {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: calc(var(--pad-and-gap) * 2);
    }

    .subheading {
        grid-column: 1 / 3;
        margin-bottom: 0;
    }

    .product {
        margin-bottom: 0;
    }

    .products, .page-header, .page-footer {
        padding-left: calc(var(--pad-and-gap) * 2);
        padding-right: calc(var(--pad-and-gap) * 2);
    }
}

@media only screen and (min-width: 70em) {
    .page-header {
        grid-template-columns: auto 1fr auto auto auto;
    }

    .nav-toggle {
        display: none;
    }

    .search {
        grid-row: 1;
        grid-column: 3;
    }

    .navigation {
        grid-row: 1;
        grid-column: 4;
    }

    .your-products {
        grid-row: 1;
        grid-column: 5;
    }

    .navigation > .menu, .navigation > .menu > li {
        display: flex;
    }

    .submenu {
        display: none;
        padding-left: 0;
    }

    .products {
        display: block;
        padding-top: 3em;
    }

    .filter-options {
        display: flex;
        justify-content: space-between;
    }

    .filter-options .filter-list {
        display: flex;
    }

    .results {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: calc(var(--pad-and-gap) * 3);
    }

    .subheading {
        grid-column: 1 / 4;
    }

    #find {
        width: 225px;
    }
      
    .navigation ul{
        margin-right: 20px;
        position: unset;
        width: unset;
        height: unset;
        background: unset;
        transition: unset;
    }

    .navigation ul li{
        margin: 0 5px;
    }

    .navigation ul li a{
        font-size: var(--h3-fs);
        padding: 0px 10px;
        border-radius: 3px;
    }

    .navigation ul li a.active, .navigation ul li a:hover{
        background: var(--secondary-clr-ltr);
        transition: .5s;
    }

    .page-header {
        padding-top: calc(var(--pad-and-gap) / 2);
    }

    .search {
        margin-top: 0.2em;
        margin-right: 25px;
    }

    .your-products > li {
        padding-left: calc(var(--pad-and-gap) / 2);
        padding-right: calc(var(--pad-and-gap) / 2);
    }

    .product {
        width: 100%;
    }

    .product:nth-child(odd) {
        margin-left: unset;
    }

    .legal {
        justify-content: center;
        display: flex;
    }

    .products, .page-header, .page-footer {
        padding-left: calc(var(--pad-and-gap) * 3);
        padding-right: calc(var(--pad-and-gap) * 3);
    }

}

@media only screen and (min-width: 90em) {
    .filter-options {
        justify-content: flex-start;
    }

    .results {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .subheading {
        grid-column: 1 / 5;
    }

    .filter-options fieldset {
        margin-right: calc(var(--pad-and-gap) * 4);
    }

    .products button {
        width: 100%;
    }

}

@media only screen and (min-width: 120em) {
    .page-header, .products, .page-footer {
        max-width: 120em;
        margin: 0 auto;
    }

    .results {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .subheading {
        grid-column: 1 / 6;
    }

}